@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary-grad-red: linear-gradient(to bottom, rgb(177, 33, 33), rgb(104, 29, 29));
  --primary-red: rgb(104, 29, 29);
  --card-grad: radial-gradient(50% 50% at center center, #eee, #aaa), linear-gradient(180deg, #fff, #888);

  --white: #cacaca;
  --black: #222;
  --gray: #444;
  --gray-light: #888;

  --ragazzi: #ffff7d88;
  --patricios: #7dfd7d88;
  --palihue: #ffc8c888;
  --jmolina: #9ed7ff88;

  --background-light: linear-gradient(125deg, #aaa, #777);
  --background-dark: linear-gradient(125deg, #2a2a2a, #111);
  --text-dark: var(--black);
  --text-light: var(--white);

  --menu-alpha: #262626ee;

  --background: var(--background-light);
  --text: var(--text-dark);

  --primary-btn-bg: var(--gray);
  --primary-btn-text: var(--text-light);
  --primary-btn-bg-hover: var(--background-light);
  --primary-btn-text-hover: var(--text-dark);

  --link-bg: transparent;
  --link-text: var(--text-dark);
  --link-bg-hover: var(--gray-light);
  --link-text-hover: var(--text-light);
  --link-active-bg: var(--gray);
  --link-active-text: var(--text-light);

  --weblink-hover: var(--gray-light);
  --dashboard-logo-bg-light: url("./_assets/dashboard-logo-light.svg");
  --dashboard-logo-bg: var(--dashboard-logo-bg-light);
  --logo-light: url("./_assets/logo-light.svg");
  --logo-bg: var(--logo-light);

  --header-bg: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background-dark);
    --text: var(--text-light);
    --card-grad: radial-gradient(50% 50% at center center, rgba(4, 4, 4, .66), #2a2a2a), linear-gradient(180deg, #fff, #262626);

    --primary-btn-bg: var(--background-dark);
    --primary-btn-text: var(--text-light);
    --primary-btn-bg-hover: var(--background-light);
    --primary-btn-text-hover: var(--text-dark);

    --link-text: var(--text-light);
    --link-bg-hover: var(--background-dark);
    --link-text-hover: var(--text-light);
    --link-active-bg: var(--background-dark);
    --link-active-text: var(--text-light);

    --weblink-hover: var(var(--gray));
    --dashboard-logo-bg-dark: url("./_assets/dashboard-logo-dark.svg");
    --dashboard-logo-bg: var(--dashboard-logo-bg-dark);
    --logo-dark: url("./_assets/logo-dark.svg");
    --logo-bg: var(--logo-dark);

    --header-bg: var(--gray);
  }
}

body {
  color: var(--text);
  background: var(--dashboard-logo-bg), var(--background);
  background-size: 30px;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}
.logo-container {
  background-image: var(--logo-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-menu-alpha {
  background: var(--menu-alpha);
}

.bg-header {
  background: var(--header-bg);
  box-shadow: 
              inset -2px -2px 2px rgba(0, 0, 0, 0.75),
              inset 2px 2px 2px rgba(80, 80, 80, 0.25)
}

.bg-histogram {
  background: var(--primary-grad-red);
}

.bg-card {
  background: var(--card-grad);
  color: var(--text);
  box-shadow: 
              inset -2px -2px 2px rgba(0, 0, 0, 0.75),
              inset 2px 2px 2px rgba(80, 80, 80, 0.25),
              8px 8px 10px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--header);
  border-radius: 1rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*         COLORES         */
.link-btn {
  padding: 0.3rem 0;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  flex: 1 1;
  transition: color 0.25s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--link-bg);
  color: var(--link-text);
}

.link-btn:hover {
  background: var(--link-bg-hover);
  color: var(--link-text-hover)
}

.link-btn-active {
  background: var(--link-active-bg);
  color: var(--link-active-text);
}

.primary-btn {
  padding: 0.5rem 1rem;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  filter: drop-shadow(2px 2px 3px rgb(0, 0, 0, 0.5));
  transition: 0.25s ease-out;
  background: var(--primary-btn-bg);
  color: var(--primary-btn-text);
}

.primary-btn:hover {
  background: var(--primary-btn-bg-hover);
  color: var(--primary-btn-text-hover)
}

.menu-rubro {
  color: var(--text);
  border-bottom: 1px solid rgb(63, 63, 63);
}

.weblink:hover {
  background: var(--link-bg-hover);
}

.border-on-top {
  border-radius: 0.5rem;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.white {
  background: var(--white);
  border: 1px solid rgb(34, 4, 4)
}

.ragazzi {
  background: var(--ragazzi);
}

.patricios {
  background: var(--patricios);
}

.palihue {
  background: var(--palihue);
}

.jmolina {
  background: var(--jmolina);
}

.varios {
  background: rgba(200, 125, 255, 0.75);
}

.menu-details[open] summary[data-rubro="ragazzi"] {
  background-color: var(--ragazzi);
  color: var(--text-dark);
}

.menu-details[open] summary[data-rubro="patricios"] {
  background-color: var(--patricios);
  color: var(--text-dark);
}

.menu-details[open] summary[data-rubro="palihue"] {
  background-color: var(--palihue);
  color: var(--text-dark);
}

.menu-details[open] summary[data-rubro="jmolina"] {
  background-color: var(--jmolina);
  color: var(--text-dark);
}

.menu-details .plus-svg {
  transition: transform 0.25s;
}

.menu-details[open] .plus-svg {
  transform: rotate(135deg)
}

/*         INPUTS         */
input,
select {
  border-bottom: 2px solid var(--primary-red);
  background: transparent;
  color: var(--black)
}

input:focus,
select:focus {
  border: none;
  border-bottom: 2px solid var(--primary-red);
  outline: none;
}

input:checked+label {
  border-bottom: 2px solid var(--primary-red);
  color: var(--primary);
}

input[type=radio]:checked+label {
  border: none;
}

/*         CHECKBOXS         */
.label-empty {
  display: flex;
}

.label-fill {
  display: none;
}

input[type="checkbox"]:checked~.label-empty {
  display: none
}

input[type="checkbox"]:checked~.label-fill {
  display: flex;
}

/*         PAGOS         */
.pagos-container span {
  text-align: end;
  height: 1.75rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .pagos-container span {
    font-size: 10px;
  }
}

/* summary::-webkit-details-marker {
  display: none;
 } */
 
 summary {
  list-style: none;
 }


.db-grid-6 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.hover-light,
.hover-scale-01 {
  transition: 0.2s;
}

.hover-light:hover {
  filter: drop-shadow(0 0 0 white);
}

.hover-scale-01:hover {
  transform-origin: center;
  transform: scale(1.01);
}

.hover:scale-125:hover {
  transform-origin: center;
  transform: scale(1.25);
}

.form {
  width: 0;
  overflow: hidden;
  transition: 0.35s;
}

.rubro:hover .form {
  width: 75%;
}