@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(125deg, rgb(44, 14, 14), rgb(15, 1, 1));
    --white: #cacaca;
    --red: linear-gradient(125deg, rgb(113, 102, 212), rgb(58, 11, 11));
  }
}

body {
  color: var(--white);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary-red {
  background: linear-gradient(125deg, rgb(0, 0, 0), rgb(26, 3, 3));
  border: 1px solid rgb(10, 1, 1)
}

.form {
  width: 0;
  overflow: hidden;
  transition: 0.35s;
}

.rubro:hover .form {
  width: 75%;
}