@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(125deg, #aaa, #777);
  --primary-grad-red: linear-gradient(to bottom, rgb(177, 33, 33), rgb(104, 29, 29));
  --primary: rgb(104, 29, 29);
  --white: #cacaca;
  --black: #222;
  --gray: #666;
  --text: var(--black);
  --ragazzi: #ffff7d88;
  --patricios: #7dfd7d88;
  --palihue: #ffc8c888;
  --jmolina: #9ed7ff88;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(125deg, #222, #000);
    --text: var(--white);
    --card-grad: radial-gradient(50% 50% at center center, rgba(0, 0, 0, .66), #262626), linear-gradient(180deg, #fff, #262626);
    --card-grad-red: var(--primary-grad-red);
    --menu-alpha: #262626ee;
    --header: #888;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

.bg-menu-alpha {
  background: var(--menu-alpha);
}

.bg-header {
  background: var(--header);
}

.bg-histogram {
  background: var(--card-grad-red);
}

.bg-card {
  background: var(--card-grad);
}

.bg-card {
  background: var(--card-grad);
  color: var(--white);
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--header);
  border-radius: 1rem;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*         COLORES         */
.link-btn {
  padding: 0.3rem 0;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  flex: 1 1;
  color: var(--text);
  transition-duration: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.link-btn:hover {
  background: #888;
}

.link-btn-active {
  background: var(--black);
  color: var(--white);
}

.btn-light {
  padding: 0.5rem 1rem;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  flex: 1 1;
  color: var(--text);
  transition-duration: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--white);
  color: var(--black);
}

.btn-light:hover {
  background: var(--gray);
  color: var(--black);
}

.btn-dark {
  padding: 0.5rem 1rem;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  flex: 1 1;
  color: var(--text);
  transition-duration: 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--black);
  color: var(--white);
}

.btn-dark:hover {
  background: var(--gray);
  color: var(--white);
}

.border-on-top {
  border-radius: 0.5rem;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.white {
  background: var(--white);
  border: 1px solid rgb(34, 4, 4)
}

.ragazzi {
  background: var(--ragazzi);
}

.patricios {
  background: var(--patricios);
}

.palihue {
  background: var(--palihue);
}

.jmolina {
  background: var(--jmolina);
}

.varios {
  background: rgba(200, 125, 255, 0.75);
}

.menu-details[open] summary[data-rubro="ragazzi"] {
  background-color: var(--ragazzi);
}

.menu-details[open] summary[data-rubro="patricios"] {
  background-color: var(--patricios);
}

.menu-details[open] summary[data-rubro="palihue"] {
  background-color: var(--palihue);
}

.menu-details[open] summary[data-rubro="jmolina"] {
  background-color: var(--jmolina);
}

.menu-details .plus-svg {
  transition: transform 0.25s;
}

.menu-details[open] .plus-svg {
  transform: rotate(135deg)
}

/*         INPUTS         */
input,
select {
  border-bottom: 2px solid var(--primary);
  background: transparent;
  color: var(--black)
}

input:focus,
select:focus {
  border: none;
  border-bottom: 2px solid var(--primary);
  outline: none;
}

input:checked+label {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

input[type=radio]:checked+label {
  border: none;
}

/*         CHECKBOXS         */
.label-empty {
  display: flex;
}

.label-fill {
  display: none;
}

input[type="checkbox"]:checked~.label-empty {
  display: none
}

input[type="checkbox"]:checked~.label-fill {
  display: flex;
}

/*         PAGOS GRID         */
.pagos-grid-6 {
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1.25fr;
}

.hover-light,
.hover-scale-01 {
  transition: 0.2s;
}

.hover-light:hover {
  filter: drop-shadow(0 0 0 white);
}

.hover-scale-01:hover {
  transform-origin: center;
  transform: scale(1.01);
}

.hover:scale-125:hover {
  transform-origin: center;
  transform: scale(1.25);
}

.pagos-grid-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1.25fr;
}

.pagos-grid-6 span,
.pagos-grid-5 span {
  text-align: end;
  height: 1.75rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.db-grid-6 {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.form {
  width: 0;
  overflow: hidden;
  transition: 0.35s;
}

.rubro:hover .form {
  width: 75%;
}